@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --transition: all 300ms ease-in-out;
  --dark-color: #332e29;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
button,
.btn {
  cursor: pointer;
  border: none;
  background: transparent;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
img {
  width: 100%;
  display: block;
}
video {
  width: 100%;
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem;
}
.vh-100 {
  min-height: 40vh;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.py-7 {
  padding: rem 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.lead {
  opacity: 0.8;
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.8;
}

#header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("..recipeMe/static/images/home.jpeg") center/cover no-repeat fixed; */
  justify-content: space-between;
  align-items: center;
}
#header .container {
  width: 100%;
}
.header-content {
  padding-bottom: 4.5rem;
}
.header-content h1 {
  font-size: 9vb;
  margin-bottom: 0;
  color: var(--light-color);
}

.title {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 2px;
  padding: 10px;
  border-bottom: 4px solid #333;
  width: 20%; /* Adjust the width as needed */
}

.ingredient-container {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.item {
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
