@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)), url("images/food2.jpeg") center/cover no-repeat fixed;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 60px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 40rem;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  /* background-color: rgba(200, 182, 166, 0.5); */
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f7f1e5;
}

.input-group input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e9e9e9;
  color: #333;
}

.input-group input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #877362;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #c8b6a6;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loading-screen {
  display: none; /* Initially hidden */
  position: fixed; /* Cover the whole screen */
  z-index: 99999; /* Displayed on top */
  top: 0; /* Fill the top */
  left: 0; /* Fill the left */
  right: 0; /* Fill the right */
  bottom: 0; /* Fill the bottom */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1); /* Fully opaque white */
  color: black;
  text-align: center;
  padding-top: 20%; /* Center the text */
}
/* pop up */
/* .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.popup.active {
  display: block;
  animation: fadeOut 5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */