<!DOCTYPE html>
<html>
  <head>
    <title>Macro Calculator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
  </head>
  <body>
    <div id="original-content">
      <header class="header">
        <a class="logo" href="{{ url_for('home')}}">RecipeMe.ai</a>
        <nav class="nav-links">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('logout')}}">Logout</a>
          <a href="{{ url_for('library')}}">Library</a>
          <a href="{{ url_for('getFormData')}}">Generate</a>
          {% else %}
          <a href="{{ url_for('login')}}">Login</a>
          <a href="{{ url_for('register')}}">Sign Up</a>
          {% endif %}
        </nav>
      </header>
      <div class="container">
        <h2>Generate a Recipe!</h2>
        <h4>All fields are optional.</h4>
        <form
          id="my-form"
          class="my-form"
          action="{{ url_for('getFormData') }}"
          method="post"
        >
          <div class="input-group">
            <label for="cuisine">Cuisine:</label>
            <input
              type="text"
              id="cuisine"
              name="cuisine"
              placeholder="Enter cuisine of choice"
            />
          </div>
          <div class="input-group">
            <label for="protein">Ingredients:</label>
            <input
              type="text"
              id="ingridients"
              name="ingridients"
              placeholder="Enter preferred ingridients (separate by commas) "
            />
          </div>
          <div class="input-group">
            <label for="protein">Servings: (defaults to 1)</label>
            <input
              type="number"
              id="servings"
              name="servings"
              placeholder="Enter number of servings"
            />
          </div>
          <div class="input-group">
            <label for="protein">Protein (g):</label>
            <input
              type="number"
              id="protein"
              name="protein"
              placeholder="Enter protein goal"
            />
          </div>
          <div class="input-group">
            <label for="calories">Calories:</label>
            <input
              type="number"
              id="calories"
              name="calories"
              placeholder="Enter calorie goal"
            />
          </div>
          <button class="btn">Generate</button>
        </form>
      </div>
    </div>

    <div id="loading-screen" class="loading-screen">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='/js/loading.js')}}"></script>
</html>
