<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">RecipeMe.ai</div>
      <nav class="nav-links">
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
      </nav>
    </header>
    LANDING
  </body>
</html>
