<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Recipe Library</title>
    <!-- Add your CSS link here -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='library.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <a class="logo" href="{{ url_for('home')}}">RecipeMe.ai</a>
      <nav class="nav-links">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout')}}">Logout</a>
        <a href="{{ url_for('library')}}">Library</a>
        <a href="{{ url_for('getFormData')}}">Generate</a>
        {% else %}
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
        {% endif %}
      </nav>
    </header>
    <h1>My Recipe Library</h1>
    <div class="container">
      {% for recipe in recipes|reverse %}
      <div class="recipe">
        <h2>{{ recipe.name }}</h2>
        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" />

        <h3>Ingredients:</h3>
        <p>{{ recipe.ingredients }}</p>

        <h3>Directions:</h3>
        <p>{{ recipe.directions }}</p>

        <h3>Nutrition Facts:</h3>
        <p>{{ recipe.nutrition_facts }}</p>
        <form
          action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
