<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Recipe Library</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Add your CSS link here -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='library.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <a class="logo" href="{{ url_for('home')}}">RecipeMe.ai</a>
      <nav class="nav-links">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout')}}">Logout</a>
        <a href="{{ url_for('library')}}">Library</a>
        <a href="{{ url_for('getFormData')}}">Generate</a>
        {% else %}
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
        {% endif %}
      </nav>
    </header>
    <h1>My Recipe Library</h1>
    <div class="container">
      {% for recipe in recipes|reverse %}
      <div class="recipe">
        <details>
          <summary><h2>{{ recipe.name }}</h2></summary>
          <div class="recipe-details">
            <!-- <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" /> -->

            <h3>Ingredients:</h3>
            <div class="ingredient">
              <ul>
                {% for ingredient in recipe.ingredients%}
                <li>{{ ingredient }}</li>
                {% endfor %}
              </ul>
            </div>

            <h3>Directions:</h3>
            <ol>
              {% for direction in recipe.directions %}
              <li>{{ direction }}</li>
              {% endfor %}
            </ol>

            <h3>Nutrition Facts:</h3>
            <p>{{ recipe.nutrition_facts }}</p>
            <div class="del-and-exp">
              <form
              action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
              method="POST"
              >
                <button style="border-radius: 20px; width: 150px; height: 50px; border: none; background-color: #C8B6A6; color: white; font-size: 16px; font-family: 'Poppins', sans-serif; margin: 10px;" type="submit">Delete</button>
              </form>
              <form
              action="{{ url_for('export_recipe', recipe_id=recipe.id) }}"
              method="get"
              >
                <button style="border-radius: 20px; width: 150px; height: 50px; border: none; background-color: #C8B6A6; color: white; font-size: 16px; font-family: 'Poppins', sans-serif; margin: 10px;" type="submit">Export Recipe</button>
              </form>
            </div>
          </div>
        </details>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
