<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='loginStyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
    </style>
  </head>
  <body>
    <header class="header">
      <div class="logo">RecipeMe.ai</div>
      <nav class="nav-links">
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
      </nav>
    </header>
    <div class="login-container">
      <div class="login-form">
        <h2>Login</h2>
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label }}<br />
            {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.password.label }}<br />
            {{ form.password }}
          </div>
          <div class="form-group">
            <div class="remember">
              <p>{{ form.remember.label }} {{ form.remember }}</p>
              <a href="{{ url_for('register') }}">
                <span class="register-link">Register</span>
              </a>
            </div>
          </div>
          <div class="form-group">
            <div class="submit-btn">{{ form.submit() }}</div>
          </div>
        </form>
      </div>
      <div class="blank-box">
        <p class="message">
          Login to save your generated meals to your library!
        </p>
      </div>
    </div>
  </body>
</html>
