<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='recipeStyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <link rel="icon" href=" {{ url_for('static', filename='images/recipeme-logo2.png') }} " type="image/x-icon" />
    <title>Recipe</title>
  </head>
  <body>
    <header class="header">
      <a class="logo" href="{{ url_for('home')}}">RecipeMe.ai</a>
      <nav class="nav-links">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout')}}">Logout</a>
        <a href="{{ url_for('library')}}">Library</a>
        <a href="{{ url_for('getFormData')}}">Generate</a>
        {% else %}
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
        {% endif %}
      </nav>
    </header>
    <!-- header -->
    <header
      id="header"
      class="vh-100"
      style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ image_url }}') center/cover no-repeat fixed;"
    >
      <div class="container">
        <div class="header-content">
          <h1>{{ name }}</h1>
        </div>
        <!-- <a href="{{ url_for('getFormData') }}" target="_blank"> -->
        <div class="recipe-buttons">
          <form action="/add_to_library" method="post">
            <button type="submit">Add to Library</button>
          </form>
          <form action="/regenerate" method="post">
            <button class="regenerate-button" type="submit">Regenerate</button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <!-- <img src="{{ image_url }}" /> -->
      <section id="ingredients" class="vh-101">
        <header class="title">
          <h2>Ingredients</h2>
        </header>
        <ul id="listContainer" class="ingredient-container">
          {% for ingredient in ingredients %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>

        <p></p>
      </section>
      <section id="directions" class="vh-100">
        <header class="title">
          <h2>Directions</h2>
        </header>
        <div>
          <ul>
            {% for step in directions %}
            <li>{{ step }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
