<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='recipeStyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <!-- <style>
      #header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/food2.jpeg") center/cover no-repeat fixed;
        justify-content: space-between;
        align-items: center;
      }
    </style> -->
    <title>Recipe</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">RecipeMe.ai</div>
      <nav class="nav-links">
        <a href="{{ url_for('login')}}">Login</a>
        <a href="{{ url_for('register')}}">Sign Up</a>
      </nav>
    </header>
    <!-- header -->
    <header id="header" class="vh-100 flex">
      <div class="container">
        <div class="header-content">
          <h1>{{ name }}</h1>
        </div>
      </div>
    </header>
    <main>
      <section id="ingredients" class="vh-101">
        <header class="title">
          <h2>Ingredients</h2>
        </header>
        <ul id="listContainer" class="ingredient-container">
          {% for ingredient in ingredients %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>

        <p></p>
      </section>
      <section id="directions" class="vh-100">
        <header class="title">
          <h2>Directions</h2>
        </header>
        <div>
          <ul>
            {% for step in directions %}
            <li>{{ step }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
